<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Unti Server Bean Start-->
    <bean id="requests" class="com.op.util.requests.core.RequestImpl"/>
    <bean id="discoveryClient" class="com.op.util.discovery.DiscoveryClientImpl"/>
    <!--Unti Server Bean End-->
</beans>